<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="lucid_booking" id="lucid_booking">
			<module before="Magento_Backend" name="Lucid_Booking"/>
		</route>
	</router>
</config>
